<ion-view>
	<ion-header-bar align-title="center" class="bar-assertive">
	  <div class="buttons">
	    <button nav-transition="ios" class="button back-button buttons button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack($event)"></button>
	  </div>
	  <h1 class="title">{{'appSettings.title' | translate}}</h1>
	</ion-header-bar>
   <ion-content class="assets app-settings">
	  <div class="list card">

		  <a href="#" class="item">
		    <i class="icon left-icon ion-android-chat"></i>
		    <span class="setting-text">{{'appSettings.feedBack' | translate}}</span>
		    <i class="icon ion-chevron-right"></i>
		  </a>
		
		  <a href="#" class="item">
		    <i class="icon left-icon  ion-ios-cloud-download"></i>
		    <span class="setting-text upgrade">{{'appSettings.vsnUpdate' | translate}}</span>
		    <i class="icon ion-chevron-right"></i>
		  </a>
		
		  <a href="#" class="item">
		    <i class="icon left-icon  ion-ios-location"></i>
		    <span class="setting-text">&nbsp;&nbsp;{{'appSettings.aboutUs' | translate}}</span>
		    <i class="icon ion-chevron-right"></i>
		  </a>
		
		</div>
   </ion-content>
 </ion-view> 
