<ion-view>
  <ion-header-bar align-title="center" class="bar-assertive">
  <div class="buttons">
    <div class="buttons">
	    <button nav-transition="ios" class="button back-button buttons button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack($event)"></button>
	  </div>
  </div>
  <h1 class="title">{{'forgetPassword.title' | translate}}</h1>
</ion-header-bar>
   <ion-content class="padding has-header register">
   <form name="regForm" novalidate="" ng-submit="register(regForm)">
	     <div class="list card list-inset">
	     <div class="item item-divider">
			   {{'forgetPassword.title' | translate}}
			  </div>
		  <label class="item item-input" ng-class="{ 'has-error' : regForm.userName.$invalid&&regForm.$submitted}">
		    <input type="text" ng-model="user.userName" required name="userName" placeholder="{{'register.phone_input' | translate}}">
		  </label>
		  <label class="item verify-code item-input" ng-class="{ 'has-error' : regForm.verifyCode.$invalid&& regForm.$submitted}">
		    <input type="text" ng-model="user.verifyCode" required name="verifyCode" placeholder="{{'register.verifyCode' | translate}}">
		    <button class="button  button-assertive button-clear">
			    {{'lifeInsOrder.getCode' | translate}}
			 </button>
		  </label>
		  <label class="item item-input" ng-class="{ 'has-error' : regForm.password.$invalid&&regForm.$submitted}">
		    <input type="password" ng-model="user.password" required name="password" placeholder="{{'register.password_input' | translate}}">
		  </label>
		</div>
	     <button  class="button button-block button-energized">
		  {{'common.submitTxt' | translate}}
		</button>
	</form>
   </ion-content>
 </ion-view> 