<ion-view view-title="Guide" class="guide">
	
		<ion-slide-box show-pager="true">
			  <ion-slide>
			    	<div  class="guide_01"></div>
			  </ion-slide>
			  <ion-slide>
			    	<div  class="guide_02"></div>
			  </ion-slide>
			  <ion-slide>
			    	<div  class="guide_03">
			    	   <div class="row guide-enter">
			    	    <div class="col">
				    		<button ng-click="gotoLogin()" class="button button-outline button-positive icon-right ion-chevron-right button-calm">
							  	{{'common.guideBtn' | translate}}
							</button>
						</div>
					   </div>
			    	</div>
			  </ion-slide>
		</ion-slide-box>

</ion-view>
  