<ion-view view-title="{{'lifeIns.title' | translate}}">
   <ion-content class="assets life-insurance">
   <ion-refresher
		    pulling-text="{{'common.doRefresh'| translate}}"
		    on-refresh="doRefresh()">
		  </ion-refresher>
    <!--  <ion-slide-box show-pager="true" does-continue="true" 
	     auto-play="true" class="carousel" active-slide="myActiveSlide">
			  <ion-slide>
			    	<img src="images/slide1.jpg">
			  </ion-slide>
			  <ion-slide>
			    	<img src="images/slide2.jpg">
			  </ion-slide>
			  <ion-slide>
			    	<img src="images/slide3.jpg">
			  </ion-slide>
		</ion-slide-box> -->
		<div class="list" ng-init="loadMore()">

		  <div class="item item-divider ">
		  	    <div class="colors colors-blue"></div>
		    	<div class="title">{{insuranceTypes[0].insuranceType}}</div>
		    	<div class="showMore">
		    	<a href="#/lifeInsShowMore">
			    	{{'lifeIns.showMore' | translate}}
			    	 <i class="icon ion-grid"></i>
		    	 </a>
		    	</div>
		  </div>
		
		  <a href="#/lifeInsDetail" class="item  item-thumbnail-left asset-item-thumbnail" ng-repeat="insurance in insuranceTypes[0].insurances" href="#">
		    	<img src="{{insurance.thumbnail}}">
			      <h2>{{insurance.name}}</h2>
			      <p>
			      	 {{insurance.desc}}
			      </p>
		  </a>
		
		   <div class="item item-divider">
			   <div class="colors  colors-red"></div>
		    	<div class="title">{{insuranceTypes[1].insuranceType}}</div>
		    	<div class="showMore">
		    	<a href="#/lifeInsShowMore">
			    	{{'lifeIns.showMore' | translate}}
			    	 <i class="icon ion-grid"></i>
		    	 </a>
		    	</div>
		  </div>
		  
		   <a href="#/lifeInsDetail" class="item  item-thumbnail-left asset-item-thumbnail" ng-repeat="insurance in insuranceTypes[1].insurances" href="#">
		   		 <img src="{{insurance.thumbnail}}">
			      <h2>{{insurance.name}}</h2>
			      <p>
			      	 {{insurance.desc}}
			      </p>
		  </a>

</div>
   </ion-content>
 </ion-view> 
