<ion-view>
   	<ion-header-bar align-title="center" class="bar-assertive">
	  <div class="buttons">
	    <button nav-transition="ios" class="button back-button buttons button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack($event)"></button>
	  </div>
	  <h1 class="title">{{'register.regInstruction' | translate}}</h1>
	</ion-header-bar>
   <ion-content  class="padding info-detail" scroll="false">
		<div class="card">
			<div class="item item-text-wrap">
			{{'register.instruction'|translate}}
			</div>
		</div>
   </ion-content>
 </ion-view> 
