<ion-view>
   	<ion-header-bar align-title="center" class="bar-assertive">
	  <div class="buttons">
	    <button nav-transition="ios" class="button back-button buttons button-icon ion-arrow-left-c header-item" ng-click="$ionicGoBack($event)"></button>
	  </div>
	  <h1 class="title">{{'infoDetail.title' | translate}}</h1>
	</ion-header-bar>
   <ion-content ng-init="reportDetail()" class="padding info-detail">
   		<img src="images/1.jpg">
   		<img src="images/2.jpg">
   		<img src="images/3.jpg">
   		<img src="images/4.jpg">
   		<img src="images/5.jpg">
   		<img src="images/6.jpg">
   		<img src="images/7.jpg">
   		<img src="images/8.jpg">
   		<img src="images/9.jpg">
   		<img src="images/10.jpg">
   		<img src="images/11.jpg">
   		
   </ion-content>
 </ion-view> 
