<ion-tabs class="tabs-icon-top"> 
	<ion-tab title="{{'tabs.linkedIns' | translate }}" icon-on="ion-ios-home" href="#/menus/tabs/linkedIns" icon-off="ion-ios-home-outline">
		 <ion-nav-view name="linkedIns-tab"></ion-nav-view>
	</ion-tab>
	<!--  
	<ion-tab title="{{'tabs.lifeIns' | translate }}"  icon-on="ion-ios-world"  icon-off="ion-ios-world-outline" href="#/menus/tabs/lifeIns">
		<ion-nav-view name="lifeIns-tab"></ion-nav-view>
	</ion-tab> 
	-->
	<ion-tab title="{{'tabs.searchReports' | translate }}"  icon-on="ion-ios-list"  icon-off="ion-ios-list-outline" href="#/menus/tabs/searchReports">
		<ion-nav-view name="searchReports-tab"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="{{'tabs.incentivePlan' | translate }}" icon-off="ion-ios-pulse"  icon-on="ion-ios-pulse-strong"   href="#/menus/tabs/incentivePlan">
		<ion-nav-view name="incentivePlan-tab"></ion-nav-view>
	</ion-tab> 
	<ion-tab title="{{'tabs.setting' | translate }}" icon-on="ion-ios-person" href="#/menus/tabs/setting" icon-off="ion-ios-person-outline"> 
		<ion-nav-view name="setting-tab"></ion-nav-view>
	</ion-tab> 
</ion-tabs> 
